.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .movie-img {
    max-width: 100%;
  }

  .movie-text {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.51);
    bottom: 0;
    height: 50px;
    color: #fff;
  }
}

.movie-player-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.watch-later-container {
  position: absolute;
  right: 0;
}

.movie-item-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 50px;
  width: 50px;
}


.movie-player-btn {
  img {
    height: 50px;
    width: 50px;
  }
}

.watch-later-btn {
  background-color: rgba(0, 0, 0, 0.65);

  img {
    height: 50px;
    width: 50px;
  }
}

.display-none {
  display: none;
}