.header {
  background: #1B1E2C;
  color: white;
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: space-around;
  height: 10vh;

  &__link {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    &:not(:last-child) {
      margin-right: 40px;
    }
    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}
