.dropdown-list {
  display: none;
  z-index: 1000;
  position: absolute;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #839496;
  text-align: left;
  list-style: none;
  background-color: #073642;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown:hover .dropdown-list {
  display: block;
}